@model JR_DB.Reseña;
@{
    ViewData["Title"] = "DeleteReseña"; 
}


<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header-title">
                        <h4 class="card-title">Eliminar libro</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-danger">¿Seguro que desea eliminar el libro?</p>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NameBook)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NameBook)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.AuthorBook)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.AuthorBook)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.GeneroBook)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.GeneroBook)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PagesBook)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PagesBook)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PuntuacionBook)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PuntuacionBook)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PuntuacionTrama)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PuntuacionTrama)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PuntuacionPersonajes)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PuntuacionPersonajes)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DescriptionReseña)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DescriptionReseña)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.FavoritePhrase)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.FavoritePhrase)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="DeleteReseña">
                            <input type="hidden" asp-for="IdReseña" />
                            <input type="hidden" asp-for="IdUser" />
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <input type="submit" value="Eliminar" class="btn btn-primary" />
                            </div>
                            <br />
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <a asp-action="ZonaReseñas" class="btn btn-primary">Regresar</a>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
    </section>

</body>