@model JR_DB.Reto;
@{
    ViewData["Title"] = "DeleteReto"; 
}


<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header-title">
                        <h4 class="card-title">Eliminar Reto</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-danger">¿Seguro que desea eliminar el reto?</p>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NombreReto)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NombreReto)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DateStart)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DateStart)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DateEnd)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DateEnd)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="DeleteReto">
                            <input type="hidden" asp-for="IdReto" />
                            <input type="hidden" asp-for="IdUser" />
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <input type="submit" value="Eliminar" class="btn btn-primary" />
                            </div>
                            <br />
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <a asp-action="ShowReto" class="btn btn-primary">Regresar</a>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
    </section>

</body>