@model JR_DB.User
@{
    ViewData["Title"] = "User_Profile";
}

<body> 
        <div class="conatiner-fluid content-inner mt-5 py-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="iq-header-img">
                            <img src="../../assets/images/icons/15.png" alt="header" class="img-fluid w-100 h-100" style="object-fit: contain;">
                        </div>
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                       <h4 class="me-2 h4">@Model.FullName @Model.LastName</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="d-flex flex-wrap align-items-center">
                                <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                    <h5 class="me-2 h5">About me</h5>
                                    <h7 class="me-2 h7">@Model.NumberPhone</h7>
                                    <h7 class="me-2 h7">@Model.Email</h7>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


            <div class="col-md-12">
                <div class="card banner">
                    <div class="card-body ">
                        <div class="row justify-content-center align-items-center banner-container">
                            <div class="col-lg-12 banner-item">
                                <div class="row">
                                    <div class="col-lg-4 banner-item">
                                        <p class="mb-4"> Editar Usuario </p>
                                        <div class="d-flex justify-content-center">
                                            <a asp-controller="User" asp-action="EditUser" asp-route-id="@Model.IdUser" class="btn btn-primary">Editar</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 banner-item">
                                        <p class="mb-4"> Eliminar Cuenta </p>
                                        <form asp-action="DeleteUser">
                                            <div class="d-flex justify-content-center">
                                                <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@Model.IdUser" class="btn btn-primary">Eliminar</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</body>

